@model NursingChecklistManager.Models.ChecklistViewModels.NCMDashboardViewModel

@{
    ViewData["Title"] = "Incomplete Checklists";
}

<h2>Your Incomplete Checklists</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Checklists To Complete
            </th>
        </tr>
    </thead>
    <tbody>

        @{int currentChecklistFK = 0;}
        @{int previousChecklistFK = 0;}

        @foreach (var item in Model.UserChecklists)
        {
            if (currentChecklistFK == 0)
            {
                currentChecklistFK = item.UserChecklistId;
            }

            if (currentChecklistFK != previousChecklistFK)
            {
                previousChecklistFK = item.UserChecklistId;

            <tr>
                <td>
                    <a asp-controller="ChecklistModels" asp-action="Edit" asp-route-id="@item.Checklists.Checklists.CheckListId">
                        @Html.DisplayFor(modelItem => item.Checklists.Checklists.ChecklistTitle)
                    </a>
                </td>
            </tr>
            }
            currentChecklistFK = item.UserChecklistId;
        }
    </tbody>
</table>
