@model NursingChecklistManager.Models.ChecklistViewModels.NCMDashboardViewModel

@{
    ViewData["Title"] = "Incomplete Checklists";
}

<h2>Your Incomplete Checklists</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Checklists To Complete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserChecklists) {
    var currentTitle = item.Checklists.Checklists.ChecklistTitle;
    var previousTitle = "";
    if ( currentTitle == previousTitle)
    { }
    else { 
    <tr>
        <td>
            <a asp-controller="ChecklistModels" asp-action="Edit" asp-route-id="@item.Checklists.Checklists.CheckListId">
             @Html.DisplayFor(modelItem => item.Checklists.Checklists.ChecklistTitle)
            </a>
        </td>
    </tr>
    }
}
    </tbody>
</table>
