@model NursingChecklistManager.Models.ChecklistViewModels.UpdateChecklistViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Complete Your Checklist</h4>

<table class="table">
    <thead>
        @foreach (var item in Model.Title)
        {
            @Html.DisplayFor(modelItem => item)

        }
    </thead>
    <tbody>
        @foreach (var item in Model.UserChecklists)
        {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.Checklists.ChecklistLineItems.ActionToDo)
                
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

