@model NursingChecklistManager.Models.ChecklistViewModels.UpdateChecklistViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>UpdateChecklistViewModel</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Figure out how to put the title here...
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChecklistLineItem)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ActionToDo)
            </td>
        </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

